.container{
    width: 800px;
    height: 500px;
    background-image: url("img/fon.jpg");
    background-size: cover;
    border-radius: 10px;

}
.text{
    text-align: center;
    color: white;
    line-height: 4px;
    padding: 0;
}

h2{
    text-align: center;
}
.block{
    display: inline-block;
    margin: 15px;

}
.blockf{
    display: inline-block;
    margin: 15px;
    /*border-right: white solid;*/

}
hr{
    width: 90%;
}
.vertical{
    width:1px;
    height: 150px;
    color: white;
}